// Team members

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr)); // wider cards
  gap: $grid-gutter-width * 1.2; // a bit more spacing between cards
  margin-top: 2rem;
}

.team-card {
  background: #fff;
  padding: 2rem; // more internal spacing
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

.team-member {
  margin-bottom: $grid-gutter-width;

  & > img {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    border: 3px solid $gray-200;
    object-fit: cover;
  }

  .orcid {
    height: 16px;
    width: 16px;
    margin-top: -3px;
  }
}
